 <% @page_title ="Pages" %>

<div class = "pages index">
    <h2> Pages </h2>

    <%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Page", new_page_path, :class => 'action new' )%>

    <div><%=pluralize(@pages.size,'page')%> found</div>
    <table class="listing" summary="Page list">
        <tr class="header">
            <th>&nbsp;</th>
            <th>Subject</th>
            <th>Page</th>
            <th>Permalink</th>
            <th>Visible</th>
            <th>sections</th>
            <th>Actions</th>
        </tr>
        <% @pages.each do |page| %>
        <tr>
            <td><%= page.position%></td>
            <td><%= page.subject.name %></td>
            <td><%= page.name%></td>
            <td><%= page.permalink%></td>
            <td class = "center" ><%= status_tag(page.visible) %></td>
            <td class = "center" ><%= page.sections.size %></td>
            <td class = "actions">
                <%= link_to("Show", page_path(page.id), :class => 'action show') %>
                <%= link_to("Edit", edit_page_path(page.id), :class => 'action edit') %>
                <%= button_to "Delete", page_path(page.id), method: :delete, 
                    class: 'action delete' %>
            </td>
        </tr>
        <% end %>
    </table>
</div>
